.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    padding: 20px;
    overflow: auto;

    .nameInput {
      width: 200px;
    }
    
    .editableCellValueWrap {
      padding: 5px 12px;
      cursor: pointer;
    }
    
    .editableRow:hover .editableCellValueWrap {
      padding: 4px 11px;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
    }

  }
}